*.html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", system-ui !important;
}

.input-field {
  padding: 0.8rem 2rem 0.8rem 1.3rem !important;
}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion_wrap button{
    border-radius: 0px!important;
    border: none;
    border-top: 1px solid #d0d1d2;
    padding-left: 0px!important;
    padding-right: 0px!important;
    outline: none!important;
    background-color: transparent!important;
}
.accordion_wrap button:hover{
    background-color: transparent!important;
}
.accordion_wrap button:focus{
    background-color: transparent!important;
    border: none!important;
    outline: none!important;
}

.product_list button{
  background-color: transparent!important;
  padding: 0px!important;
}
.accordion_wrap button:foc{


}

.accordion_wrap button span{
      color: #27251f!important;
}


@media only screen and (max-width: 1280px) {
    .product_wrap{
      width: 100%;
    }
}

@media only screen and (max-width: 1220px) {
  .cartLayout {
    display: block;
  }
  .cartTwo {
    margin-top: 20px;
  }
  .cartLayout {
    width: 98%;
  }
}

@media only screen and (max-width: 767px) {
  .product_details{
    width: 100%;
  }
}
